<div>
    <h2 class="text-lg underline underline-offset-2 pb-3">Discord</h2>
    <div class="flex flex-row pb-1">
        <p class="inline">Link your project with Discord</p>
        <button class="rounded-md text-white ml-auto w-20" style="background-color: var(--acc-color);">Link</button>
    </div>
    <div class="flex flex-row pb-1">
        <p class="inline">Create discord server for project</p>
        <button class="rounded-md text-white ml-auto w-20" style="background-color: var(--acc-color);">Create</button>
    </div>
    <div class="flex flex-row pb-1">
        <p class="inline">Invite bot to discord server</p>
        <button class="rounded-md text-white ml-auto w-20" style="background-color: var(--acc-color);">Invite</button>
    </div>
    <div class="flex flex-row pb-1">
        <p class="inline">Open your discord server</p>
        <button class="rounded-md text-white ml-auto w-20" style="background-color: var(--acc-color);">Open</button>
    </div>
</div>