<section class="content-evenly min-h-screen flex items-center justify-center">
    <div class="w-96">
        <form class="p-8 mx-auto border-t-8 rounded shadow-lg" style="background-color: var(--pri-color); border-color: var(--acc-color)">
            <h1 class="text-2xl text-center font-bold">Forgot your password</h1>

            <label class="text text-left block mb-2 mt-4" for="emailaddress">Email</label>
            <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />

            <a class="hover:text-indigo-600 block mt-6 text-sm" href="/login">Remembered your password?</a>

            <div class="text-center pt-4">
                <button class="py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" id="submit" type="submit">Send email</button>
            </div>
        </form>
    </div>
</section>