<section class="content-evenly min-h-screen">
    <div class="py-48">
        <form class="p-8 max-w-md mx-auto bg-white border-t-8 border-indigo-700 rounded shadow-lg">
            <h1 class="text-2xl text-center font-bold">Forgot your password</h1>

            <label class="text text-left block mb-2 mt-4" for="emailaddress">Email</label>
            <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="email" id="email" />

            <a class="hover:text-indigo-600 block mt-6 text-sm" href="/auth/login">Remember your password</a>

            <div class="mx-16">
                <button class="bg-indigo-700 rounded px-24 text-xl text-white p-4 only:mt-6" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>