<header class="flex flex-row" style="min-width: var(--min-window-w); height: var(--header-h)">
    <div class="py-4 flex flex-row items-center" style="width: var(--left-col-w);">
        <div>
            <%- include('../project/_partial/header/_partial/logo'); %>
        </div>
    </div>
</header>
<main class="pb-8 content-evenly flex justify-center" style="min-height: calc(110vh - var(--header-h)); min-width: var(--min-window-w);">
    <div style="width: var(--form-w)">
        <% if (message.toString() !=="" ) { %>
            <%- include('./_partial/infoBox', { message: message}); %>
                <% } %>
                    <form action="/signup" method="post" class="p-8  mx-auto border-t-8 rounded shadow-lg" style="background-color: var(--pri-color);border-color: var(--acc-color)">
                        <h1 class="text-2xl text-center font-bold">Register your account</h1>

                        <label class="text text-left block mb-2 mt-4" for="name">Name</label>
                        <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md focus:border-blue-400 focus:outline-none focus:ring-blue-400" minlength="2" maxlength="128" name="name" id="name" required />

                        <label class="text text-left block mb-2 mt-4" for="username">Username</label>
                        <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md focus:border-blue-400 focus:outline-none focus:ring-blue-400" minlength="2" maxlength="32" name="username" id="username" required />

                        <label class="text text-left block mb-2 mt-4" for="emailaddress">Email</label>
                        <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md focus:border-blue-400 focus:outline-none focus:ring-blue-400" minlength="5" maxlength="128" name="email" id="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,62}$" required />

                        <label class="text text-left block mb-2 mt-4" for="password">Password</label>
                        <input type="password" class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}" title="At least 8 characters (1 upper, 1 lowercase, 1 number)" minlength="8" maxlength="32" size="32" required />

                        <p class="mt-2 text-sm text-gray-500" id="password-description">At least 8 characters, Max 32 characters (1 upper, 1 lowercase, 1 number)</p>

                        <label class="text text-left block mb-2 mt-4" for="passwordConfirmation">Password Confirmation</label>
                        <input type="password" class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="passwordConfirmation" id="passwordConfirmation" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}" title="At least 8 characters (1 upper, 1 lowercase, 1 number)" minlength="8" maxlength="32" size="32" required />
                        <a class="hover:text-indigo-600 block mt-6 text-sm" href="/login">Already have an account?</a>

                        <div class="text-center pt-4">
                            <button class="py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" id="submit" type="submit">Register</button>
                        </div>
                    </form>
    </div>
</main>