<!-- Header  -->
<header class="flex flex-row" style="min-width: var(--min-window-w); height: var(--header-h)">
  <%- include('./_partial/header/header'); %>
</header>

<main class="flex flex-row" style="min-width: var(--min-window-w); height: calc(100vh - var(--header-h))">
  <!-- Navigation bar  -->
  <div class="px-2 py-5 overflow-y-auto drop-shadow-md" style="width: var(--left-col-w); background-color: var(--pri-color)">
    <%- include('./_partial/leftBar/navigation'); %>
  </div>

  <!-- Dynamic widgets  -->
  <div class="overflow-y-auto flex-1" style="background-color: var(--sec-color)">
    <%- include('./_partial/centerBar/dynamic'); %>
  </div>

  <!-- Static widgets  -->
  <div class="flex flex-row" style="width: var(--right-col-w); background-color: var(--sec-color)">
    <%- include('./_partial/rightBar/static'); %>
  </div>
</main>