<div id="calendar-a"></div>

<div id="cal-events-container" class="py-3 px-5 mt-3 rounded-lg mb-0.5 bg-white drop-shadow-sm">
  <h2>Events</h2>
  <div id="cal-events"></div>
</div>

<div id="add-event-btn-container" class="py-3 px-5 mt-3 rounded-lg flex flex-row items-center bg-white drop-shadow-sm">
  <button id="add-event-btn" onclick="addEventBtnClicked()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
  </button>
  <p class="ml-1">Add Event</p>
</div>

<div id="submit-event-btn-container" class="py-3 px-5 rounded-lg flex-col items-center bg-white hidden drop-shadow-sm">
  <input id="time" type="datetime-local" value="" class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="time">
  <input id="name" type="text" class="my-2 border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" name="name" placeholder="event name" required />
  <button id="submit-event-btn" onclick="submitEventBtnClicked()" class="float-right text-white font-semibold px-2 py-1 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)">Add</button>
  <button id="cancel-event-btn" onclick="cancelEventBtnClicked()" class="float-left text-white font-semibold px-2 py-1 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)">cancel</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.js"></script>
<script src="/scripts/calendar.js"></script>