<div class="w-1/2 flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
<img class="w-5 h-5 rounded-md mr-2" src="https://ui-avatars.com/api/?name=<%= name %>?background=f5f5f5&color=475569" alt="">
    <p class="truncate ... font-thin">
        <%= name %>
    </p>
</div>