<div class="w-1/2 flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
<img class="w-6 h-6 rounded-md mr-2" src="https://ui-avatars.com/api/?name=<%= user.name %>" alt="">
    <p class="truncate ... font-thin">
        <%= name %>
    </p>
</div>