<div class="w-1/2 flex flex-row items-center rounded">
<img class="w-5 mr-1 h-5 rounded-md shadow-sm" src="https://ui-avatars.com/api/?name=<%= name %>&background=f0f0f0&color=475569" alt="">
    <p class="px-1 rounded truncate ... font-thin hover:bg-gray-100 hover:cursor-pointer">
        <%= name %>
    </p>
</div>