<!-- Anchor links -->

<div class="p-2" id="Anchor links">
  <h1 class="text-xl">Anchor Links</h1>
  <div class="bg-black border-2 flex flex-col">
    <a href="https://www.atlassian.com/software/jira" target="_blank">Jira!</a>
    <a href="https://trello.com/" target="_blank">Trello!</a>
    <a href="https://discord.com/app" target="_blank">Discord!</a>
    <a href="https://www.messenger.com/" target="_blank">Messenger!</a>
    <a href="https://www.overleaf.com/project" target="_blank">Overleaf!</a>
    <a href="https://github.com/" target="_blank">Github</a>
    <a href="https://www.diagrams.net/" target="_blank">Diagrams!</a>
    <a href="https://drive.google.com/drive/my-drive" target="_blank"
      >Google drive!</a
    >
  </div>
</div>
