<section class="m-auto w-2/5 pt-6">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Project
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="projectName" type="text" placeholder="Name">
        </div>

        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Invite members 
        </label>
        <div class="mb-6 flex justify-between">
            <div class="w-10/12">
                <input class="shadow appearance-none border border-red-500 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inviteInput" type="email" placeholder="bdsm69@student.aau.dk">
            </div>
            <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 cursor-pointer rounded focus:outline-none focus:shadow-outline" type="button" id="inviteMember" value="Invite">
        </div>

        <div id="invited">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Invited members
            </label>
            
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Create Project
            </button>
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="/projects">
                Cancel
            </a>
        </div>
    </form>
</section>


<script>
    document.getElementById("inviteMember").addEventListener('click', () => {
        let email = document.getElementById("inviteInput").value;
        if (email !== "") {
            let invited = document.createElement("p");

            invited.innerHTML = email;
            document.getElementById("invited").appendChild(invited);
        }
    })
</script>