<p>Hello welcome to the discord auth page. First link your ProjectHub account with discord.</p>
<a id="login" class="hidden" href="<%- AuthLink %>">Discord Auth</a>
<p id="info"></p>
<p>Then Create your discord server for your project if you haven't already</p>
<a id="Create Server" class="accent-teal-400" href="<%- CreateServerLink %>" target="_blank">Create Server</a>
<p>Invite the bot to your project. This enables all ProjectHub features</p>
<a id="Invite Bot" class="accent-teal-400" href="<%- InviteBotLink %>" target="_blank">Discord Link</a>
<p>If you've linked the bot to your server properly. An invitelink should be shown below</p>
<% if (ServerInviteLink) { %>
    <a id="Join server" href="<%- ServerInviteLink %>" target="_blank">Join/Open server</a>
<% } %>
<div id="chat">
    <input id="input" style="width:100%; padding:10px; border:solid black 2px"/>
    <script type="text/javascript" src="/scripts/discordChat.js"></script>
</div>
<script src="/scripts/discordAuth.js"></script>

