<p>Hello welcome to the discord auth page. First link your ProjectHub account with discord.</p>
<a id="login" class="hidden" href="<%- AuthLink %>">Discord Auth</a>
<p id="info"></p>
<p>Then Create your discord server for your project if you haven't already</p>
<a id="Create Server" class="accent-teal-400" href="<%- CreateServerLink %>" target="_blank">Create Server</a>
<p>Invite the bot to your project. This enables all ProjectHub features</p>
<a id="Invite Bot" class="accent-teal-400" href="<%- CreateServerLink %>" target="_blank">Discord Link</a>
<p>If you've linked the bot to your server properly. An invitelink should be shown below</p>
<% if (ServerInviteLink) { %>
    <a id="Join server" href="<%- ServerInviteLink %>" target="_blank">Join/Open server</a>
<% } %>
<div id="chat">

</div>

<script>
    window.onload = () => {
        //console.log(window.location) //http://localhost:4000/discord?code=SUysVwZaIztTpdkvVzNe6RCZn3fRqC
        const url = new URL(window.location);
        const code = url.searchParams.get('code'); //SUysVwZaIztTpdkvVzNe6RCZn3fRqC
        const state = url.searchParams.get('state');
        //before auth
        if (!code) {
            const randomString = generateRandomString();
            localStorage.setItem('oauth-state', randomString);

            document.getElementById('login').href += `&state=${btoa(randomString)}`;
            return document.getElementById('login').style.display = 'block';
        }
        //after auth
        if (localStorage.getItem('oauth-state') !== atob(decodeURIComponent(state))) {
            return document.getElementById('info').innerText = `You may have been clickjacked!`;
        }
        document.getElementById('info').innerText = `Discord account linked`;

        function generateRandomString() {
            let randomString = '';
            const randomNumber = Math.floor(Math.random() * 10);

            for (let i = 0; i < 20 + randomNumber; i++) {
                randomString += String.fromCharCode(33 + Math.floor(Math.random() * 94));
            }

            return randomString;
        }
    }
</script>

