<nav>
  <!-- My projects knappen  -->
  <a href="/projects">
    <div class="h-fit w-full flex items-center hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
      <h1 class="text-base ml-1 font-normal">My Projects</h1>
    </div>
  </a>

  <!-- Link liste  -->
  <div class="bg-white my-4 w-full rounded">
    <ul>
      <li>
        <a class="w-min hover:underline" href="">Dashboard</a>
      </li>
      <li><a class="w-min hover:underline" href="">Timeline</a></li>
      <li><a class="w-min hover:underline" href="">Abscence</a></li>
      <li><a class="w-min hover:underline" href="">Nothing</a></li>
      <li><a class="w-min hover:underline" href="">Settings</a></li>
    </ul>
  </div>

  <!-- Category tab list  -->
  <div id="categories">
    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>Planning</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
    </div>

    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>Communication</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
      </svg>
    </div>

    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>Writing</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
      </svg>
    </div>

    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>Version control</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
      </svg>
    </div>

    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>UML/Tools</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
      </svg>
    </div>

    <div class="flex flex-row items-center rounded hover:bg-gray-100 hover:cursor-pointer">
      <h2>File sharing</h2>
      <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto" style="width: var(--icon-size); height: var(--icon-size)" fill="none" viewBox="0 0 24 24" stroke="var(--acc-color)" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
      </svg>
    </div>
  </div>
</nav>