<section class="bg-white rounded-lg w-full drop-shadow-sm px-4 py-3 mb-3">
    <h2 class="text-lg pb-3">Trello</h2>

    <% if (project.categories.planning.services === undefined) {%>
    <section id="notActivated" class="flex flex-row pb-1">
        <p>Activate Trello</p>
        <button class="rounded-md text-white ml-auto px-4" style="background-color: var(--acc-color);">
            <a href="/trello/activate/<%= project._id %>" target="_blank">Activate</a>
        </button>
    </section>
    <% } else { %> 
    <section id="activated">
        <section class="flex flex-row pb-1">
            <p>Link to your Trello</p>
            <button class="rounded-md text-white ml-auto px-4" style="background-color: var(--acc-color);">
                <a href="/trello" target="_blank">Link</a>
            </button>
        </section>
        <section class="flex flex-row pb-1">
            <p>Setup Trello project + board</p>
            <button class="rounded-md text-white ml-auto px-4" style="background-color: var(--acc-color);">
                <a href="/trello/setup/<%= project._id %>">Setup</a>
            </button>
        </section>
        <section id="options">
            <section class="flex flex-row pb-1">
                <p>Create new board</p>
                <button class="rounded-md text-white ml-auto px-4" style="background-color: var(--acc-color);">
                    <a href="/trello" target="_blank">Create board</a>
                </button>
            </section>
            <section class="flex flex-row pb-1">
                <p>Create new card</p>
                <button class="rounded-md text-white ml-auto px-4" style="background-color: var(--acc-color);">
                    <a href="/trello" target="_blank">Create card</a>
                </button>
            </section>
        </section>
    </section>
    <% } %>
</section>

<script src="/public/scripts/trelloMenuOpt.js"></script>