<div class="bg-white rounded-lg w-full drop-shadow-sm px-4 py-3 mb-3">
    <h2 class="text-lg pb-3">Overleaf</h2>
    <hr class="py-1">
    <div class="flex flex-row pb-1 items-center">
        <p class="inline">Create overleaf project template</p>
        <button class="rounded-md ml-auto w-20 shadow-sm" style="background-color: var(--sec-color);">
            <a href="https://www.overleaf.com/project/new/template/2120?id=3068287&mainFile=master.tex&templateName=Aalborg+University+%28AAU%29+Report+Template&texImage=texlive-full%3A2021.1" target="_blank">Create</a>
        </button>
    </div>
</div>