<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/output.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Anek Bangla:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/color-calendar/dist/css/theme-glass.css"
    />

    <title>ProjectHub</title>
  </head>

  <body
    class="font-sans antialiased h-screen"
    style="background-color: var(--sec-color)"
  >
    <%- body %>
  </body>
</html>
