<a href="/projects" class="hover:cursor-pointer flex justify-center w-full">
  <h1 class="text-4xl mr-0.5 font-bold">
    Project
  </h1>
  <h1 class="text-4xl px-1 h-full font-bold rounded-lg text-white flex items-center" style="background-color: var(--acc-color)">
    Hub
  </h1>
</a>
