<h1 class="text-4xl mr-0.5 text-gray-800 font-bold hover:cursor-pointer">
  Project
</h1>
<h1
  class="text-4xl px-1 h-full font-bold rounded text-white flex items-center hover:cursor-pointer"
  style="background-color: var(--acc-color)"
>
  Hub
</h1>
