<div class="pl-5 flex items-center justify-center h-full">
  <div class="w-full rounded-full h-4 bg-white drop-shadow-sm">
    <% 
      let totalDaySpan = project.duration.endTime.getTime() - project.duration.startTime.getTime()
      totalDaySpan = Math.ceil(totalDaySpan / (1000 * 3600 * 24))
      let elapsedDaySpan = (new Date()).getTime() - project.duration.startTime.getTime()
      elapsedDaySpan = Math.ceil(elapsedDaySpan / (1000 * 3600 * 24))
      let percentage = (elapsedDaySpan / totalDaySpan * 100).toFixed(2)
      if (percentage > 100) percentage = 100
      percentage += "%"
      const title = percentage + ' | ' + (totalDaySpan - elapsedDaySpan) + ' day(s) left'
    %>
    <div title="<%=title%>" class="h-4 rounded-full drop-shadow-sm" style="width: <%=percentage%>; background-color: var(--acc-color)"></div>
  </div>
</div>