<div class="pl-5 flex items-center justify-center h-full">
  <div class="w-full rounded-full h-5 bg-white drop-shadow-sm">
    <div class="h-5 rounded-full drop-shadow-sm" style="width: 70%; background-color: var(--acc-color)"></div>
  </div>
</div>