<section class="m-auto p-3 rounded-lg mb-3 drop-shadow-sm" style="background-color: var(--sec-color);" id="overlay">
    <h2 class="text-lg pb-3">Create new board</h2>
    <form action="/trello/createBoard/<%= project.id %>" class="">
        <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md" type="text" name="boardName" placeholder="Board Name" required>
        <div class="flex flex-row w-full">
            <input type="button" class="mt-2 cursor-pointer font-semibold rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" value="Cancel" id="boardClose">
            <input type="submit" class="ml-auto mt-2 cursor-pointer font-semibold rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" value="Create" id="create-card-btn">
        </div>
    </form>
</section>
<script src="/scripts/listBoards.js"></script>