<section class="bg-white m-auto p-6 rounded-lg mb-3 drop-shadow-sm" id="overlay">
    <h2 class="text-lg pb-3">Create new board</h2>
    <form action="/trello/createBoard/<%= project.id %>" class="">
        <input class="mr-1 my-1 rounded-md w-full" type="text" name="boardName" placeholder="Board Name" required>
        <input type="submit" class="px-3.5 py-2 mt-2 text-white cursor-pointer font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" value="Create Board" id="create-card-btn">
    </form>
</section>