<section class="bg-white m-auto p-6 rounded-lg drop-shadow-sm" id="overlay">
    <h2 class="text-lg pb-3">Create new card</h2>
    <form action="/trello/createCard/<%= project.id %>" class="">
        <input id="projectIdInput" type="hidden" name="projectId" value="{{projectId}}">
        <input class="mr-1 my-1 rounded-md w-full" type="text" name="cardName" placeholder="Card Name" required>
        <textarea type="text" name="cardDescription" placeholder="Card Description" class="w-full resize-none mt-1 rounded-md focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"></textarea>
        <select name="board" id="board-select" class="form-control my-1 p-2 rounded-md" style="width: 100%;">
            <option id="select-option" value="" class="rounded-md">Select a board</option>
        </select>
        <select name="list" id="list-select" class="form-control my-1 p-2 rounded-md" style="width: 100%;">
            <option id="liststate" value="" class="rounded-md">No board selected</option>
        </select>
        <input type="submit" class="px-3.5 py-2 mt-2 text-white cursor-pointer font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" value="Create Card" id="create-card-btn">
    </form>
</section>

<script src="/scripts/listBoards.js"></script>
<script src="/scripts/listLists.js"></script>