<div id="overlay" style="position: fixed; display: none;">
    <select name="board" id="board-select" class="form-control" style="width: 100%;">
        <option value="">Select a board</option>
    </select>
    <script src="/scripts/listBoards.js"></script>
</div>