<!-- ProjectHub Logo  -->
<div class="p-5 pr-0 pl-0 py-4 flex flex-row items-center" style="width: var(--left-col-w); background-color: var(--sec-color);">
  <%- include('./_partial/logo'); %>
</div>

<!-- Progress bar  -->
<div class="flex-1 flex flex-col" style="background-color: var(--sec-color)">
  <%- include('./_partial/progressbar'); %>
</div>

<!-- Account  -->
<div class="p-5 pr-0 flex flex-col justify-center" style="width: var(--right-col-w); background-color: var(--sec-color)">
  <%- include('./_partial/account'); %>
</div>