    <div class="bg-zinc-200 grid grid-cols-12 h-20">
      <div class="border-black bg-white border col-start-1 col-end-3">
        <h1 class="p-5 text-4xl text-gray-800 font-bold">ProjectHub</h1>
      </div>
      
      <div class="border-black border col-start-3 col-end-10">
        Progress bar
      </div>
      
      <div class="border-black border col-start-10 col-end-13">
        Account
      </div>  
    </div>

    <div class="bg-zinc-200 grid grid-cols-12 h-full">
      <div class="border-black bg-white border p-5 pt-10 col-span-2">
        <div class="border-neutral-500 box-border h-32 w-52 border">
        </div>
      </div>
      
      <div class="border-black border col-span-7">
        dynamic widgets
      </div>
      
      <div class="border-black border col-span-3">
        Static widgets
      </div>
    </div>