
    <div class="grid-container">
      <div class="logo">
        Logo
      </div>
      <div class="header">
        Progress bar
      </div>
      <div class="account">
        Account
      </div>  
      <div class="service-nav">
        Service navigation
      </div>
      <div class="static-widgets">
        Static widgets
      </div>
      <div class="dynamic-widgets">
        Dynamic widgets
      </div>  
    </div>