<section class="m-auto w-2/5 pt-6">
    <form method="post" id="createProjForm" class="w-96 bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <input id="userEmail" type="hidden" value=<%= userEmail%>>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Project
            </label>
            <input class="border-2 py-1 p-2 border-gray-200 bg-gray-50 w-full rounded-md focus:outline-none focus:shadow-outline" name="projectName" id="projectName" type="text" placeholder="Name">
        </div>

        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Add members
        </label>
        <div class="mb-6 flex justify-between">
            <div class="flex flex-1">
                <input class="border-2 py-1 p-2 mr-2 border-gray-200 bg-gray-50 w-full rounded-md focus:outline-none focus:shadow-outline" id="inviteInput" type="email" placeholder="bd69sm@student.aau.dk">
            </div>
            <button class="px-3.5 w-24 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" type="button" id="inviteMember">
                Invite
            </button>
        </div>

        <div id="invited" class="hidden mb-6">
            <label id="labelInvMembers" class="text-gray-700 text-sm font-bold mb-2">
                Members to be invited
            </label>

        </div>

        <div class="flex items-center justify-between">
            <button class="px-3.5 py-2 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" type="submit">
                Create Project
            </button>
            <a class="text-center w-24 px-3.5 py-2 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" href="/projects">
                Cancel
            </a>
        </div>
    </form>
</section>


<script>
    createProjForm.onsubmit = async (e) => {
        e.preventDefault();

        const invited = document.querySelectorAll('.inv-member')
        const emails = [...invited].map(member => member.innerHTML.trim())
        const userEmail = document.getElementById('userEmail').value
        emails.push(userEmail)

        let response = await fetch('/create-project', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                projectName: document.getElementById('projectName').value,
                emails: emails
            })
        }).then((res) => {
            if (res.status === 200) {
                window.location.href = '/projects';
            } else {
                alert('Something went wrong');
            }
        });
    };


    // add email to array and displays it in the invited members section
    document.getElementById("inviteMember").addEventListener('click', () => {
        let email = document.getElementById("inviteInput").value;
        if (email !== "") {
            document.getElementById('invited').classList.remove('hidden')
            let invited = document.createElement("p");
            let remove = document.createElement("input");
            let div = document.createElement("div");

            div.setAttribute('class', 'flex items-center justify-between py-2')

            remove.setAttribute('class', 'remove-user bg-blue-500 hover:bg-blue-700 text-white font-bold px-3.5 cursor-pointer rounded focus:outline-none focus:shadow-outline')
            remove.setAttribute('type', 'button')
            remove.setAttribute('value', 'Remove')
            remove.addEventListener('click', (e) => removeSelf(e.target));

            invited.setAttribute('class', 'inv-member w-10/12')
            invited.innerHTML = email;
            invited.setAttribute('id', 'invited')

            div.appendChild(invited)
            div.appendChild(remove)

            document.getElementById("invited").appendChild(div)
            document.getElementById("inviteInput").value = "";
        }
    })

    function removeSelf(target) {
        target.parentElement.remove();
        if (document.querySelectorAll('.inv-member').length == 0) {
            document.getElementById('invited').classList.add('hidden')
        }
    }
</script>