<div class="pt-18 max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl font-medium">Projects</h2>
    <div class="flex justify-between mt-3 w-full">
        <a href="#" class="px-4 text-sm bg-white p-2 rounded-md shadow-md">Create a new project</a>
    </div>
    <div class="px-6 py-4 text-sm bg-white rounded-lg mt-8">
        <h5 class="text-lg font-medium mb-2">Projects overview</h5>
        <table class="w-full text-left">
            <thead class="text-gray-500">
                <tr class="h-10">
                    <th class="pr-4 font-normal">Name</th>
                    <th class="pr-4 font-normal">Owner</th>
                    <th class="pr-4 font-normal">Members</th>
                    <th class="pr-4 font-normal">Last modified</th>
                    <th class="pr-4 font-normal">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-12 border-t border-gray-100">
                    <td class="pr-4"><a href="" class="text-violet-600">Project one</a></td>
                    <td class="pr-4 text-gray-500 text-xs">William</td>
                    <td class="pr-4 text-gray-500 text-xs">5 members</td>
                    <td class="pr-4 text-gray-500 text-xs">2 hours ago.</td>
                    <td class="pr-4 text-gray-500 text-xs">2 hours ago.</td>
                    <td class="w-12">
                        <div class="flex items-center justify-end h-10">
                            <button class="h-10 text-teal-400 cursor-pointer" type="button">
                                <span class="flex items-center justify-between">
                                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                        class="w-5 h-5 text-gray-600">
                                        <path
                                            d="m5 1.667h10c.921 0 1.667.746 1.667 1.667v8.966a2.5 2.5 0 0 1 -.733 1.767l-3.534 3.533a2.5 2.5 0 0 1 -1.767.733h-5.633c-.92 0-1.667-.746-1.667-1.667v-13.333c0-.92.746-1.667 1.667-1.667zm5.833 10h4.167v-8.334h-10v13.333h5v-4.166c0-.46.373-.833.833-.833zm-3.75-5h5.833c.23 0 .417-.187.417-.417v-.833c0-.23-.187-.417-.417-.417h-5.833c-.23 0-.417.187-.417.417v.833c0 .23.187.417.417.417zm3.334 3.333h-3.334c-.23 0-.417-.187-.417-.417v-.833c0-.23.187-.417.417-.417h3.333c.23 0 .417.187.417.417v.833c0 .23-.187.417-.417.417z"
                                            fill="currentColor" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>