<nav class="">
    <%- include('_partial/header') %>
</nav>
<aside class="">
    <%- include('_partial/sidebar') %>
</aside>
<main class="">
    <%- include('_partial/mid') %>
</main>
<aside class="">
    <%- include('_partial/right') %>
</aside>
