<header class="flex flex-1 justify-between items-center" style="height: var(--header-h)">
    <div class="pl-2 py-4 flex flex-row items-center" style="width: var(--left-col-w); background-color: var(--sec-color)">
        <%- include('../project/_partial/header/_partial/logo'); %>
    </div>

    <div class="mr-2">
        <button onclick="window.location.href='/login';" class="py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" id="loginBtn" type="submit">Login</button>
        <button onclick="window.location.href='/register';" class="py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" style="background-color: var(--acc-color)" id="RegisterBtn"
            type="submit">Register</button>
    </div>
</header>

<main class="w-screen flex justify-center items-center" style="height: calc(100vh - var(--header-h))">
    <h1 class="font-bold" style="color: var(--acc-color)">Welcome</h1>
</main>