<div class="bg-white rounded-lg w-full drop-shadow-sm px-4 py-3 mb-3">
    <h2 class="text-lg pb-3">Diagrams</h2>
    <div class="flex flex-row pb-1 items-center">
        <p class="inline">Open Diagrams.net</p>
        <a class="rounded-md ml-auto text-center w-20 shadow-sm bg-gray-100 hover:bg-gray-200" href="https://app.diagrams.net/" target="_blank">Open</a>
    </div>
</div>