<div class="bg-white rounded-lg w-full drop-shadow-sm px-4 py-3 mb-3">
    <a class="flex flex-row items-center w-min" href="https://Diagrams.net/" target="blank_">
        <h2 class="text-lg mr-2">Diagrams</h2>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
        </svg>
    </a>
    <hr class="py-1">
    <div class="flex flex-row pb-1 items-center">
        <p class="inline">Open Diagrams.net</p>
        <a class="rounded-md ml-auto text-center w-20 shadow-sm bg-gray-100 hover:bg-gray-200" href="https://app.diagrams.net/" target="_blank">Open</a>
    </div>
</div>